.container {
    max-width: 1636px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.main-title {
    font-size: 20px;
    color: #282423;
    font-weight: 600;
    text-align: center;
    margin-bottom: 22px;

    @media(min-width: 1280px) {
        text-align: left;
        font-size: 32px;
    }
}

.content {
    font-size: 18px;
    color: #717171;

    p {
        margin-bottom: 25px;
    }
}

.header__top,
.header__bottom {
    border-bottom: 1px solid #E5E5E5;
}

.header__top {
    padding-top: 15px;
    padding-bottom: 10px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .column {
            &:first-child {
                width: 23%;
            }

            &:nth-child(2) {
                width: 53%;
            }

            &:last-child {
                width: 17%;
            }
        }
    }
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    li {
        &:not(:last-child) {
            margin-right: 100px;
        }
    }

    a {
        font-size: 16px;
        color: #807D7D;

        &:hover {
            color: #BC892A;
        }
    }
}

.main-nav {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.main-nav>li {
    position: relative;

    &:hover {
        .main-nav__dropdown {
            display: block;
        }
    }

    &:not(:last-child) {
        margin-right: 140px;
    }
}

.main-nav>li>a {
    color: #BC892A;
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
    }

    &:before {
        content: '';
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url('../img/expand-more.png') no-repeat center;
    }
}

.main-nav__likv:after {
    background: url('../img/law-icon.png') no-repeat center;
}

.main-nav__ip:after {
    background: url('../img/law-icon-2.png') no-repeat center;
}

.main-nav__fl:after {
    background: url('../img/law-icon-3.png') no-repeat center;
}

.main-nav>li:hover>a {
    background: #BC892A;
    border-radius: 10px 10px 0px 0px;
    color: white;

    &:before {
        background: url('../img/expand-top.png') no-repeat center;
    }
}

.main-nav>li:hover>a.main-nav__likv:after {
    background: url('../img/law-icon-w.png') no-repeat center;
}

.main-nav>li:hover>a.main-nav__ip:after {
    background: url('../img/law-icon-w-2.png') no-repeat center;
}

.main-nav>li:hover>a.main-nav__fl:after {
    background: url('../img/law-icon-w-3.png') no-repeat center;
}

.header__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item>li {
    &:first-child {
        width: 28%;
    }

    &:nth-child(2) {
        width: 30%;
    }

    &:last-child {
        width: 35%;
    }
}

.main-logo,
.min-logo {
    display: flex;
    align-items: center;
}

.min-logo {
    max-width: 210px;
}

.min-logo__img {
    margin-right: 8px;
}

.min-logo__article {
    font-weight: 600;
    font-size: 16px;
    color: #BC892A;
}

.btn {
    width: 100%;
    font-size: 16px;
    background: #FFDD2D;
    border-radius: 6px;
    height: 45px;
    color: #333333;
    font-weight: 600;
}

.phone-link {
    color: #08A652;
    font-size: 30px;
    font-weight: 600;
}

.worktime {
    font-size: 20px;
    color: #807D7D;
    margin-bottom: 8px;
    padding-top: 2px;
}

.adress-metro {
    position: relative;
    color: #807D7D;
    font-size: 16px;
    padding-left: 40px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background: url('../img/moscow-metro.png') no-repeat center;
    }
}

.links-list {
    display: flex;
    align-items: center;
    color: #807D7D;
    font-size: 18px;
    font-weight: 600;
    justify-content: space-between;

    @media(min-width: 1600px) {
        padding-left: 20px;
    }
}

.main-logo__img {
    width: 111px;
    margin-right: 11px;
}

.main-logo__article {
    li {
        &:first-child {
            font-family: "muller";
            font-weight: 800;
            color: #705A0E;
            text-transform: uppercase;
            font-size: 31px;
        }

        &:nth-child(2) {
            font-family: "muller";
            font-weight: 300;
            color: #807D7D;
            font-size: 16px;
        }
    }
}

.main-nav__dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    background: white;
    box-shadow: 2px 6px 50px 10px rgba(56, 55, 121, 0.15);
    border-radius: 0px 0px 10px 10px;
    padding: 25px 15px;
    display: none;
    z-index: 10;

    @media(min-width: 1600px) {
        width: 540px;
        column-count: 2;
        padding: 28px 14px 25px;
    }

    @media(min-width: 1900px) {
        width: 720px;
        column-count: 2;
        padding: 38px 65px 45px;
    }

    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    a {
        font-size: 18px;
        color: #5C5C5C;

        @media(max-width: 1599px) {
            font-size: 16px;
        }

        &:hover {
            color: #BC892A;
            text-decoration: underline;
        }
    }
}

@media(max-width: 1599px) {
    .main-logo__article li:first-child {
        font-size: 24px;
    }

    .main-logo__article li:nth-child(2) {
        font-size: 12px;
    }

    .main-logo__img {
        width: 80px;
    }

    .top-nav li:not(:last-child) {
        margin-right: 50px;
    }

    .phone-link {
        font-size: 22px;
    }

    .worktime {
        font-size: 14px;
    }

    .adress-metro {
        font-size: 12px;
    }

    .main-nav>li:not(:last-child) {
        margin-right: 60px;
    }
}

.header-mob {
    padding: 16px 12px;
    background: #FFF7DB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(min-width: 1280px) {
        display: none;
    }
}

.burger {
    width: 24px;
    height: 24px;
    background: url('../img/burger.png') no-repeat center;
}

.burger.is-active {
    background: url('../img/close.png') no-repeat center;
}

.mob-logo {
    display: flex;
    align-items: center;

    li {
        color: #705A0E;

        &:first-child {
            text-transform: uppercase;
            font-weight: 800;
            font-size: 18px;
        }

        &:last-child {
            font-weight: 300;
            font-size: 11px;
        }
    }
}

.mob-logo__img {
    width: 40px;
    margin-right: 8px;

    img {
        display: block;
    }
}

.header {
    background: white;
    position: relative;
    z-index: 20;

    @media(max-width: 1279px) {
        display: none;
    }
}

.mob-phone {
    display: inline-block;
    width: 32px;
    height: 34px;
    background: #BC892A url('../img/phone-w.png') no-repeat center;
}

.dropdown-menu {
    position: absolute;
    background: #9A7E53;
    padding: 24px 22px;
    color: white;
    max-width: 320px;
    width: 100%;
    transition: 0.5s;
    left: -100%;
    z-index: 100;
}

.dropdown-menu.is-active {
    left: 0;
}

.mob-nav>li {
    margin-bottom: 25px;

    span {
        display: block;
        position: relative;
        padding-left: 50px;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background: url('../img/drop.png') no-repeat center;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
        }
    }
}

.mob-nav>li.is-active span:after {
    background: url('../img/expand-top.png') no-repeat center;
}

.mob-nav__likv:before {
    background: url('../img/law-icon-w.png') no-repeat center;
}

.mob-nav__ip:before {
    background: url('../img/law-icon-w-2.png') no-repeat center;
}

.mob-nav__fz:before {
    background: url('../img/law-icon-w-3.png') no-repeat center;
}

.mob-nav>li>span {
    font-size: 22px;
    font-weight: 600;
}

.mob-nav__inner {
    padding-top: 28px;
    padding-bottom: 15px;
    display: none;

    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    a {
        color: #FFD89D;
        font-size: 18px;

        &:hover {
            color: #FFFFFF;
            text-decoration: underline;
        }
    }
}

.dropdown-menu__title {
    color: #FFD89D;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.mob-links {
    column-count: 2;
    margin-bottom: 35px;

    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    a {
        color: #FFD89D;
        font-size: 18px;

        &:hover {
            color: #FFFFFF;
            text-decoration: underline;
        }
    }
}

.btn_dropdown {
    height: 70px;
}

.banner-wrap {
    position: relative;
    padding-top: 13px;
    box-shadow: 2px 6px 20px 10px rgba(56, 55, 121, 0.15);

    @media(min-width: 992px) {
        padding-left: 25px;
        padding-right: 25px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        @media(max-width: 991px) {
            top: 57%;
        }
    }

    .swiper-button-next {
        @media(min-width: 1900px) {
            right: 50px;
        }
    }

    .swiper-button-prev {
        @media(min-width: 1900px) {
            left: 50px;
        }
    }
}

.swiper-button-next {
    width: 32px;
    height: 32px;
    background: url('../img/next.png') no-repeat center;
}

.swiper-button-prev {
    width: 32px;
    height: 32px;
    background: url('../img/prev.png') no-repeat center;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #F4F1F1;
}

.swiper-pagination-bullet-active {
    background: #FFDD2D;
}

.banner-slider__title {
    text-align: center;
    color: #282423;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    max-width: 702px;
    width: 100%;

    @media(min-width:1280px) {
        font-size: 30px;
        text-align: left;
    }

    @media(min-width:1500px) {
        font-size: 40px;
        padding-top: 15px;
        margin-bottom: 25px;
    }

    @media(min-width:1900px) {
        font-size: 52px;
    }
}

.banner-slider__article {
    background: #16C60C;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 20px;
    margin-bottom: 16px;
    max-width: 698px;
    width: 100%;

    @media(max-width:1279px) {
        text-align: center;
    }

    @media(min-width:1500px) {
        margin-bottom: 45px;
    }

    @media(min-width:1900px) {
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.cont-list {
    color: #705A0E;
    font-size: 18px;

    @media(max-width:991px) {
        font-size: 16px;
        padding-left: 32px;
    }

    @media(min-width:1500px) {
        margin-bottom: 40px;
    }

    li {
        position: relative;
        margin-bottom: 16px;
        padding-left: 26px;

        &:after {
            content: '';
            position: absolute;
            left: 2px;
            top: 5px;
            width: 12px;
            height: 12px;
            background: #BC892A;
            transform: rotate(-45deg);
        }
    }
}

.banner-btn {
    display: block;
    max-width: 550px;
    width: 100%;
    background: #FFDD2D;
    box-shadow: 0px 4px 10px rgba(66, 78, 138, 0.2);
    border-radius: 6px;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 5px;
    position: relative;

    @media(max-width: 1279px) {
        margin: 0 auto 20px;
    }

    @media(min-width: 1280px) {
        height: 80px;
    }

    @media(min-width: 1600px) {
        height: 100px;
        font-size: 22px;
    }

    @media(min-width: 1900px) {
        margin-bottom: 40px;
    }

    &:after {
        content: '';
        position: absolute;
        right: 38px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url('../img/arrow.png') no-repeat center;

        @media(max-width: 1279px) {
            display: none;
        }
    }
}

.banner-slider {
    .swiper-pagination {
        @media(min-width: 1900px) {
            bottom: 20px;
        }
    }
}

.min-logo_banner {
    margin: 0 auto 12px;

    @media(min-width: 1280px) {
        display: none;
    }
}

.banner-slider__item {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media(min-width: 992px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .column {
        @media(max-width: 991px) {
            margin-bottom: 40px;
        }

        @media(min-width: 992px) {
            width: 46%;
            position: relative;
        }

        &:first-child {
            @media(min-width: 1600px) {
                width: 44%;
            }
        }

        &:nth-child(2) {
            @media(min-width: 992px) {
                display: flex;
                align-items: flex-end;
            }

            @media(max-width: 991px) {
                display: none;
            }
        }
    }
}

.happy-man {
    img {
        display: block;
    }

    @media(max-width: 991px) {
        display: none;
    }
}

.doc-img {
    @media(min-width: 992px) {
        position: absolute;
        width: 200px;
        left: -20px;
        top: 0;
    }

    @media(min-width: 1600px) {
        width: auto;
    }

    @media(min-width: 1900px) {
        left: -74px;
    }
}

.about-slider__article {
    color: #282423;
    font-size: 20px;
    margin-bottom: 19px;

    @media(min-width: 500px) and (max-width: 1899px) {
        font-size: 16px;
    }
}

.about-slider__price,
.about-slider__time {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    padding-left: 40px;
    color: #F73D34;

    @media(min-width: 992px) and (max-width: 1279px) {
        font-size: 20px;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        background: url('../img/wallet.png') no-repeat center;
    }
}

.about-slider__sub-title {
    color: #898F97;
    font-size: 15px;
    padding: 15px 0px;
}

.about-slider__time {
    font-size: 18px;
    color: #BC892A;

    &:after {
        background: url('../img/stopwatch.png') no-repeat center;
    }
}

.about-slider__item {
    max-width: 550px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(56, 55, 121, 0.1);
    border-radius: 4px;
    padding: 25px;

    @media(max-width: 991px) {
        margin: 0px auto 25px;
    }

    @media(max-width: 1279px) {
        padding: 15px;
    }

    @media(min-width: 1280px) {
        &:hover {
            box-shadow: 2px 6px 30px 10px rgba(145, 145, 182, 0.2);

            .about-slider__btn {
                opacity: 1;
            }
        }
    }
}

.about-slider__btn {
    height: auto;
    padding: 17px 10px;

    @media(min-width: 1280px) {
        opacity: 0.5;
    }
}

.about-slider__columns {
    margin-bottom: 25px;

    @media(min-width: 500px) {
        display: flex;
        justify-content: space-between;

        li {
            width: 49%;
        }
    }
}

.about-slider {

    .swiper-slide {
        @media(min-width: 1280px) {
            display: flex;
            justify-content: center;
        }
    }

    .swiper-wrapper {
        @media(max-width: 991px) {
            display: block;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        @media(max-width: 991px) {
            display: none;
        }
    }

    @media(min-width: 992px) {
        padding: 40px 25px;
    }
}

.about-slider-wrap {
    position: relative;
    max-width: 1750px;
    margin: 0 auto;

    .swiper-pagination {
        bottom: -5px;
    }

    .swiper-button-prev {
        @media(max-width: 991px) {
            display: none;
        }

        @media(min-width: 1900px) {
            left: -25px;
        }
    }

    .swiper-button-next {
        @media(max-width: 991px) {
            display: none;
        }

        @media(min-width: 1900px) {
            right: -25px;
        }
    }
}

.about-slider__img {
    text-align: center;

    @media(max-width: 991px) {
        margin-bottom: 22px;
    }
}

.about-us {
    padding-top: 40px;

    @media(min-width: 1280px) {
        padding-top: 64px;
    }
}

.cont-doc {
    text-align: center;
    margin-bottom: 20px;

    @media(min-width: 992px) {
        display: none;
    }
}

.adv-slider__img {
    width: 150px;
    height: 150px;
    background: #CDA349;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;

    @media(min-width: 1280px) {
        margin-right: 20px;
    }

    b {
        font-weight: 600;
        font-size: 80px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 68px;

        @media(max-width: 1279px) {
            font-size: 60px;
            line-height: 47px;
        }
    }

    span {
        letter-spacing: 1.4px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        @media(max-width: 1279px) {
            font-size: 12px;
        }
    }

    @media(max-width: 1279px) {
        margin: 0 auto 15px;
    }

    @media(min-width: 1280px) {
        width: 200px;
        height: 200px;
    }
}

.adv-slider__img-text {
    position: relative;
    left: 5px;
    width: 136px;

    @media(max-width: 1279px) {
        width: 110px;
    }
}

.adv-slider__title {
    color: #BC892A;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #DFB28B;

    @media(max-width: 1279px) {
        text-align: center;
    }

    @media(min-width: 1280px) {
        font-size: 32px;
    }
}

.adv-slider__article {
    color: #29485A;
    font-size: 16px;
    margin-bottom: 23px;
}

.adv-slider {
    padding-bottom: 40px;

    .swiper-slide {
        @media(min-width: 992px) {
            margin-bottom: 20px;
        }

        @media(min-width: 1280px) {
            width: 48%;
            margin-bottom: 50px;

            &:hover {
                .adv-slider__btn {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .swiper-wrapper {
        @media(min-width: 1280px) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 38%;

        @media(min-width: 1280px) {
            display: none;
        }
    }

    .swiper-button-next {
        right: -8px;
    }

    .swiper-button-prev {
        left: -8px;
    }
}

.advantages__title {
    @media(min-width: 992px) {
        margin-bottom: 67px;
    }
}

.adv-slider__btn {
    display: block;
    width: 173px;

    @media(max-width: 1279px) {
        margin: 0 auto;
    }

    @media(min-width: 1280px) {
        opacity: 0;
        visibility: hidden;
    }
}

.advantages {
    padding-top: 25px;

    @media(min-width: 1280px) {
        padding-top: 100px;
    }
}

.adv-slider__item {
    max-width: 660px;
    width: 100%;

    @media(min-width: 1280px) {
        display: flex;

        li {
            &:last-child {
                padding-top: 15px;
            }
        }
    }
}

.choice {
    padding-top: 25px;
}

.choice-slider__item {
    position: relative;
    max-width: 272px;
    width: 100%;
    margin: 0 auto;
    padding: 22px 15px;
    border-radius: 10px;

    @media(max-width: 767px) {
        max-width: 288px;
    }

    @media(max-width: 1279px) {
        box-shadow: 2px 6px 16px 10px rgba(145, 145, 182, 0.2);
    }

    &:after {
        content: '';
        position: absolute;
        right: 24px;
        top: 30px;
        width: 50px;
        height: 50px;
        background: url('../img/big-check.png') no-repeat center;
        display: none;
    }

    @media(min-width: 1280px) {
        &:hover {
            box-shadow: 2px 6px 16px 10px rgba(145, 145, 182, 0.2);

            &:after {
                display: block;
            }

            .choice-slider__btn {
                visibility: visible;
                opacity: 1;
            }

            .choice-slider__title,
            .choice-slider__article {
                color: #29485A;
            }
        }
    }
}

.choice-slider__img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.choice-slider__title {
    color: #807D7D;
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 16px;
    border-bottom: 4px solid #FFDD2D;

    @media(max-width: 1279px) {
        color: #29485A;
    }
}

.choice-slider__article {
    font-size: 18px;
    color: #898F97;
    margin-bottom: 20px;

    @media(max-width: 1279px) {
        color: #29485A;
    }
}

.choise-slider-wrap {
    position: relative;

    .container {
        @media(max-width: 767px) {
            padding: 0;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        @media(max-width: 767px) {
            display: none;
        }
    }

    .swiper-button-next {
        @media(min-width: 1800px) {
            right: 60px;
        }
    }

    .swiper-button-prev {
        @media(min-width: 1800px) {
            left: 60px;
        }
    }
}

.choice-slider {
    padding: 20px 25px;

    .swiper-slide {
        margin-bottom: 45px;
    }

    .swiper-wrapper {
        @media(max-width: 767px) {
            display: block;
        }
    }

    @media(max-width: 767px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.choice-slider__btn {
    height: 63px;

    @media(min-width: 1280px) {
        visibility: hidden;
        opacity: 0;
    }
}

.team-slider {
    padding-bottom: 50px;

    .swiper-slide {
        display: flex;
        justify-content: center;
        height: auto;
    }

    .swiper-wrapper {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}

.team-slider-wrap {
    position: relative;

    .swiper-button-prev {
        @media(max-width: 499px) {
            top: 35%;
            background: url('../img/prev-w.png') no-repeat center;
        }

        @media(min-width: 1900px) {
            left: 60px;
        }
    }

    .swiper-button-next {
        @media(max-width: 499px) {
            top: 35%;
            background: url('../img/next-w.png') no-repeat center;
        }

        @media(min-width: 1900px) {
            right: 60px;
        }
    }
}

.team-slider__img {
    margin-bottom: 19px;
    text-align: center;
    position: relative;
    display: inline-block;

    img {
        border-radius: 50px 0px;
    }
}

.team-slider__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;

    .btn {
        margin-top: auto;
        height: auto;
        padding: 22px 5px;
    }
}

.team-slider__status {
    position: absolute;
    top: 21px;
    right: 0;
    background: #40DD3C;
    padding: 6px 15px;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.team-slider__name {
    color: #705A0E;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;

    @media(max-width: 1599px) {
        font-size: 24px;
    }
}

.team-slider__article {
    max-width: 367px;
    width: 100%;
    margin: 0 auto 30px;
    color: #807D7D;
    font-size: 18px;
    text-align: center;

    @media(max-width: 1599px) {
        font-size: 16px;
    }
}

.our-team {
    margin-bottom: 40px;
}

.price-banner {
    position: relative;
    background: url('../img/price-bg-mob.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 54px 10px 65px;
    color: white;

    @media(min-width: 768px) {
        background: url('../img/price-bg.jpg') no-repeat center;
        background-size: cover;
    }

    .main-logo {
        @media(max-width: 767px) {
            display: none;
        }
    }

    @media(min-width: 1280px) {
        padding: 72px 15px 86px;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(34, 27, 66, 0.6);
        z-index: 1;
    }
}

.price-banner__content {
    position: relative;
    z-index: 10;
}

.main-logo_w {
    justify-content: center;
    margin-bottom: 35px;

    .main-logo__article {
        li {
            color: white;
        }
    }
}

.price-banner__title {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 17px;

    @media(max-width: 1279px) {
        font-size: 24px;
    }
}

.price-banner__article {
    font-size: 22px;
}

.price-table {
    display: flex;
    flex-direction: column;

    .price-table__column {
        &:first-child {
            @media(max-width: 1279px) {
                order: 1;
            }
        }
    }

    @media(min-width: 1280px) {
        flex-direction: row;
        justify-content: space-between;

        .price-table__column {
            &:first-child {
                width: 390px;
            }

            &:last-child {
                width: calc(100% - 410px);
            }
        }
    }
}


.price-table-wrap {
    background: rgba(66, 78, 138, 0.2);
    padding: 48px 0px;
}

.form {
    background: #FFFFFF;
    box-shadow: 2px 6px 30px 5px rgba(168, 167, 200, 0.2);
    border-radius: 10px;
    padding: 36px 16px;

    @media(max-width: 1279px) {
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }
}

.form__title {
    text-align: center;
    color: #BC892A;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 17px;
}

.inp-title {
    color: #374957;
    font-size: 15px;
    margin-bottom: 7px;
}

.inp {
    width: 100%;
    border: none;
    height: 56px;
    background: #EEF2F7;
    border-radius: 2px;
    color: #898F97;
    font-size: 16px;
    padding-left: 23px;
    padding-right: 15px;
    margin-bottom: 22px;
}

.select-loan {
    margin-bottom: 22px;

    .selectric {
        border: none;
        background: #EEF2F7;
    }

    .label {
        height: 56px;
        line-height: 56px;
        color: #898F97;
        font-size: 16px;
        padding-left: 23px;
    }

    .selectric-items li {
        padding-left: 32px;
        font-size: 14px;
    }

    .button {
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: url('../img/select-arrow.png') no-repeat center;

        &:after {
            display: none;
        }
    }
}

.form__btn {
    height: 64px;
    margin-bottom: 33px;

    @media(min-width: 1280px) {
        height: 83px;
    }
}

.check {
    display: none;
}

.check-label {
    display: inline-block;
    position: relative;
    padding-left: 36px;
    color: #6B6B6B;
    font-size: 12px;

    a {
        text-decoration: underline;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: -6px;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        border: 2px solid #16C60C;
    }

    &:before {
        content: '';
        position: absolute;
        left: 4px;
        top: -1px;
        width: 16px;
        height: 16px;
        background: url('../img/check.png') no-repeat center;
        background-size: contain;
        display: none;
    }
}

.check:checked+.check-label:before {
    display: block;
}

.price-table__top {
    color: #374957;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 13px;
    display: none;
    display: flex;
    justify-content: space-between;

    li {
        &:first-child {
            width: 50%;
            padding-left: 15px;
        }

        &:not(:first-child) {
            width: 16%;
            text-align: center;
        }
    }

    @media(max-width: 991px) {
        display: none;
    }
}

.price-table__list>li {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 18px 16px;

    @media(min-width: 992px) {
        align-items: center;
        justify-content: space-between;
        padding-right: 0;
        padding-left: 0;
    }

    @media(min-width: 1280px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .price-table__item {
        text-align: center;

        &:first-child {
            width: 100%;

            @media(min-width: 992px) {
                text-align: left;
                padding-left: 24px;
                width: 50%;
            }
        }

        &:nth-child(2) {
            width: 50%;

            @media(min-width: 992px) {
                width: 16%;
            }
        }

        &:nth-child(3) {
            width: 50%;

            @media(min-width: 992px) {
                width: 16%;
            }
        }

        &:nth-child(4) {
            @media(min-width: 992px) {
                width: 16%;
            }
        }
    }
}

.price-table__article {
    color: #374957;
    font-size: 16px;
    font-weight: 300;

    @media(max-width: 991px) {
        margin-bottom: 17px;
    }

    @media(min-width: 1280px) and (max-width: 1599px) {
        font-size: 14px;
    }
}

.price-table__mob-title {
    color: #374957;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;

    @media(min-width: 992px) {
        display: none;
    }
}

.price-table__price,
.price-table__time {
    color: #705A0E;
    font-size: 16px;

    @media(min-width: 992px) {
        font-size: 18px;
    }

    @media(min-width: 1280px) and (max-width: 1599px) {
        font-size: 16px;
    }
}

.price-table__check {
    width: 30px;
    height: 30px;
    background: url('../img/check.png') no-repeat center;
    margin: 0 auto;

    @media(max-width: 991px) {
        display: none;
    }
}

.request {
    @media(max-width: 1279px) {
        display: flex;
        flex-direction: column;
    }

    @media(min-width: 1280px) {
        padding-top: 70px;
    }
}

.req-form {
    background: #FFF7DB;
    border-radius: 6px;
    padding: 29px 15px;
    position: relative;

    @media(min-width: 992px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media(min-width: 1280px) {
        padding-bottom: 0;
        padding-left: 32px;
        padding-top: 15px;
    }

    @media(min-width: 1600px) {
        padding-left: 105px;
    }

    .req-form__item {
        &:first-child {
            @media(min-width: 992px) {
                width: 58%;
            }

            @media(min-width: 1280px) {
                width: 50%;
            }

            @media(min-width: 1500px) {
                width: 44%;
            }
        }

        &:nth-child(2) {
            @media(min-width: 992px) {
                width: 38%;
                padding-top: 20px;
            }

            @media(min-width: 1280px) {
                width: 28%;
                padding-top: 50px;
            }
        }

        &:nth-child(3) {
            @media(min-width: 1280px) {
                width: 20%;
            }
        }
    }

    input,
    .selectric {
        background: white;
    }
}

.req-form__img {
    @media(max-width: 1279px) {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    img {
        display: block;
    }
}

.req-form__title {
    color: #BC892A;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 13px;
    text-align: center;
    position: relative;

    @media(min-width: 992px) {
        text-align: left;
    }

    @media(min-width: 1280px) {
        font-size: 28px;
        margin-bottom: 24px;

        &:after {
            content: '';
            position: absolute;
            right: -100px;
            top: 50%;
            transform: translateY(-50%);
            width: 80px;
            height: 45px;
            background: url('../img/str.png') no-repeat center;
        }
    }

    @media(min-width: 1600px) {
        &:after {
            right: -65px;
        }
    }
}

.req-form__check-label {
    @media(min-width: 1600px) {
        position: relative;
        top: 14px;
    }
}

.req-form__inp-block {
    @media(min-width: 600px) {
        display: flex;
        justify-content: space-between;

        li {
            width: 48%;
        }
    }
}

.cont-list_reason {
    @media(min-width: 992px) {
        // column-count: 3;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        color: #807D7D;

        @media(min-width: 992px) {
            width: 33%;
        }

        &:after {
            width: 8px;
            height: 8px;
            background: #BC892A;
            border-radius: 10em;
        }
    }
}

.request__item_left {

    @media(max-width: 1279px) {
        order: 2;
    }
}

.request__item_right {
    padding-top: 32px;

    @media(min-width: 1280px) {
        padding-top: 76px;
    }

    .main-title {
        @media(min-width: 1280px) {
            margin-bottom: 54px;
        }
    }

    @media(max-width: 1279px) {
        order: 1;
        padding-bottom: 400px;
    }
}

.footer {
    background: #9A7E53;
    padding: 31px 24px;

    @media(min-width: 1280px) {
        padding-top: 65px;
    }
}

.footer__top,
.footer__bottom {
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
}

.footer__top {
    @media(max-width: 991px) {
        .footer__column {
            &:not(:first-child) {
                display: none;
            }
        }
    }

    @media(min-width: 992px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .footer__column {
            width: 18%;

            &:first-child {
                width: 25%;
            }
        }
    }
}

.footer__logo {
    margin-bottom: 44px;

    .main-logo__article li {
        color: #FFD89D;

        &:first-child {
            font-size: 26px;

            @media(max-width: 1279px) {
                font-size: 18px;
            }
        }

        &:last-child {
            font-size: 14px;
        }
    }

    @media(max-width: 991px) {
        display: none;
    }
}

.footer-info {
    margin-bottom: 36px;

    .phone-link,
    .worktime {
        color: white;
    }
}

.adress-info {
    max-width: 286px;
    width: 100%;
    color: white;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

.adress-metro_footer {
    color: white;

    &:after {
        background: url('../img/metro-footer.png') no-repeat center;
    }
}

.footer__title {
    font-size: 20px;
    font-weight: 600;
    color: #FFD89D;
    margin-bottom: 45px;

    @media(max-width: 1599px) {
        font-size: 18px;
    }
}

.footer__bottom {
    @media(min-width: 991px) {
        padding-top: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__list {
    li {
        margin-bottom: 20px;
    }

    a {
        color: #FFD89D;
        font-size: 18px;
        display: inline-block;

        @media(max-width: 1599px) {
            font-size: 16px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.copy {
    color: white;
    font-size: 14px;
    text-align: center;

    @media(max-width: 991px) {
        padding-top: 25px;
    }
}

.metr {
    @media(max-width: 991px) {
        display: none;
    }
}