.banner-wrap
    .container
        .banner-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .banner-slider__item
                        .column
                            .banner-slider__title Официальная ликвидация ООО - наша специализация!

                            .min-logo.min-logo_banner
                                .min-logo__img
                                    img(src="img/logo-min.png")
                                .min-logo__article Ликвидируем ООО с 2010 года

                            .banner-slider__article Ликвидация ООО с 2010 года. Быстро, законно и без последствий.

                            ul.cont-list
                                li Гарантия безопасности директора и главбуха
                                li Мы профильно занимаемся банкротством

                            button(type="submit").banner-btn Рассчитать стоимость ликвидации

                        .column
                            .doc-img
                                img(src="img/doc.jpg")

                            .happy-man
                                img(src="img/happy-man.png")
                .swiper-slide
                    .banner-slider__item
                        .column
                            .banner-slider__title Официальная ликвидация ООО - наша специализация!

                            .min-logo.min-logo_banner
                                .min-logo__img
                                    img(src="img/logo-min.png")
                                .min-logo__article Ликвидируем ООО с 2010 года

                            .banner-slider__article Ликвидация ООО с 2010 года. Быстро, законно и без последствий.

                            ul.cont-list
                                li Гарантия безопасности директора и главбуха
                                li Мы профильно занимаемся банкротством

                            button(type="submit").banner-btn Рассчитать стоимость ликвидации

                        .column
                            .doc-img
                                img(src="img/doc.jpg")

                            .happy-man
                                img(src="img/happy-man.png")

                .swiper-slide
                    .banner-slider__item
                        .column
                            .banner-slider__title Официальная ликвидация ООО - наша специализация!

                            .min-logo.min-logo_banner
                                .min-logo__img
                                    img(src="img/logo-min.png")
                                .min-logo__article Ликвидируем ООО с 2010 года

                            .banner-slider__article Ликвидация ООО с 2010 года. Быстро, законно и без последствий.

                            ul.cont-list
                                li Гарантия безопасности директора и главбуха
                                li Мы профильно занимаемся банкротством

                            button(type="submit").banner-btn Рассчитать стоимость ликвидации

                        .column
                            .doc-img
                                img(src="img/doc.jpg")

                            .happy-man
                                img(src="img/happy-man.png")

            .swiper-pagination

    .swiper-button-next.swiper-button-next-bs
    .swiper-button-prev.swiper-button-prev-bs

.about-us
    .container
        h1.main-title Официальная ликвидация ООО в Москве и области

        .cont-doc
            img(src="img/doc.jpg")

        .content
            p 
                |Ликвидация общества с ограниченной ответственностью может быть проведена альтернативным способом путем присоединения ООО к другому ООО или слияния ООО с другим ООО. Ликвидация ООО путем присоединения представляет собой процедуру реорганизации общества, в результате которой присоединяемое общество ликвидируется и прекращает свою хозяйственную деятельность, а другое общество становится правопреемником ликвидированного общества.

    .about-slider-wrap
        .about-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .about-slider__item
                        ul.about-slider__columns
                            li
                                .about-slider__img
                                    img(src="img/price-img-1.jpg")
                            li
                                .about-slider__article 
                                    |Для фирм с небольшими оборотами или не ведущих деятельность.

                                .about-slider__price 
                                    |от 38 000 руб

                                .about-slider__sub-title Сроки процедуры:

                                .about-slider__time
                                    |5 - 6 месяцев

                        button(type="button").btn.about-slider__btn Рассчитать стоимость ликвидации

                .swiper-slide
                    .about-slider__item
                        ul.about-slider__columns
                            li
                                .about-slider__img
                                    img(src="img/price-img-2.jpg")
                            li
                                .about-slider__article 
                                    |Без налоговой проверки. Для фирм с оборотами без долгов.

                                .about-slider__price 
                                    |от 250 000 руб

                                .about-slider__sub-title Сроки процедуры:

                                .about-slider__time
                                    |5 - 6 месяцев

                        button(type="button").btn.about-slider__btn Рассчитать стоимость ликвидации

                .swiper-slide
                    .about-slider__item
                        ul.about-slider__columns
                            li
                                .about-slider__img
                                    img(src="img/price-img-3.jpg")
                            li
                                .about-slider__article 
                                    |Путем смены директора и учредителей. Для фирм с небольшими оборотами.

                                .about-slider__price 
                                    |от 38 000 руб

                                .about-slider__sub-title Сроки процедуры:

                                .about-slider__time
                                    |1 - 2 месяца

                        button(type="button").btn.about-slider__btn Рассчитать стоимость ликвидации

            .swiper-pagination
        .swiper-button-next.swiper-button-next-as
        .swiper-button-prev.swiper-button-prev-as

.advantages.container
    h2.main-title.advantages__title Почему стоит обратиться именно к нам?

    .adv-slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                ul.adv-slider__item
                    li
                        .adv-slider__img
                            img(src="img/adv-1.png")
                    li
                        .adv-slider__title Узкая специализация

                        .adv-slider__article 
                            |Ликвидация юридических лиц – наша основная услуга, на которой мы специализируемся и в которой разбираемся досконально. Наши сотрудники изучили все тонкости ликвидпроцесса и прошли на практике.

                        button(type="button").btn.adv-slider__btn Наши юристы

            .swiper-slide
                ul.adv-slider__item
                    li
                        .adv-slider__img
                            img(src="img/adv-3.png")
                    li
                        .adv-slider__title Низкие цены

                        .adv-slider__article 
                            |Стоимость наших услуг одна из самых конкурентных на рынке Москвы и области и, вероятно, лучшая по соотношению цена-качество.

                        button(type="button").btn.adv-slider__btn Наши юристы

            .swiper-slide
                ul.adv-slider__item
                    li
                        .adv-slider__img
                            .adv-slider__img-text
                                b 20
                                span лет опыт работы
                    li
                        .adv-slider__title Обширный опыт

                        .adv-slider__article 
                            |Мы предоставляем услугу сопровождения в ликвидации более двадцати лет. За это время нашими клиентами стали сотни компаний, а мы разработали собственную методику быстрого и качественного прохождения ликвидационных процедур

                        button(type="button").btn.adv-slider__btn Наши юристы

            .swiper-slide
                ul.adv-slider__item
                    li
                        .adv-slider__img
                            img(src="img/adv-4.png")

                    li
                        .adv-slider__title Комплексный подход

                        .adv-slider__article 
                            |Мы предоставляем юридические услуги компаниям в комплексе и можем предложить все, что только может потребоваться юридическому лицу – от регистрации и прекращения до бюро переводов.

                        button(type="button").btn.adv-slider__btn Наши юристы

        .swiper-pagination

        .swiper-button-next
        .swiper-button-prev

.choice
    .container
        h2.main-title Выберите способ ликвидации ООО:

    .choise-slider-wrap
        .container
            .choice-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .choice-slider__item
                            .choice-slider__img
                                img(src="img/case.png")

                            .choice-slider__title Ликвидация фирмы
                            .choice-slider__article 
                                |Если в деятельности компании настал момент, когда ее нужно закрыть, следует позаботиться о том, чтобы все прошло законно и без лишнего внимания контролирующих органов.

                            button(type="button").btn.choice-slider__btn Рассчитать стоимость 

                    .swiper-slide
                        .choice-slider__item
                            .choice-slider__img
                                img(src="img/pie-chart.png")

                            .choice-slider__title Ликвидация ООО с нулевым балансом
                            .choice-slider__article 
                                |Когда юридическое лицо после регистрации не вело фактической деятельности и не получало прибыли, но регулярно подавало налоговую отчетность.

                            button(type="button").btn.choice-slider__btn Рассчитать стоимость 

                    .swiper-slide
                        .choice-slider__item
                            .choice-slider__img
                                img(src="img/man.png")

                            .choice-slider__title Ликвидация ИП
                            .choice-slider__article 
                                |Для индивидуальных предпринимателей законом прописана специальная процедура прекращения деятельности, в результате которой в ЕГРИП вносится запись о закрытии ИП.

                            button(type="button").btn.choice-slider__btn Рассчитать стоимость 

                    .swiper-slide
                        .choice-slider__item
                            .choice-slider__img
                                img(src="img/hands.png")

                            .choice-slider__title Добровольная ликвидация ООО
                            .choice-slider__article 
                                |Если компания закрывается «классическим» способом, предусматривающим полное завершение ее деятельности, мы предоставляем услугу официальной ликвидации и юридического сопровождения.

                            button(type="button").btn.choice-slider__btn Рассчитать стоимость 

                    .swiper-slide
                        .choice-slider__item
                            .choice-slider__img
                                img(src="img/work.png")

                            .choice-slider__title Смена генерального директора
                            .choice-slider__article 
                                |Альтернативным способом прекращения компании является смена ее учредителей и руководителей. Мы поможем провести этот процесс, связанный со структурными преобразованиями.

                            button(type="button").btn.choice-slider__btn Рассчитать стоимость 

                .swiper-pagination

        .swiper-button-next.swiper-button-next-ch
        .swiper-button-prev.swiper-button-prev-ch

.our-team
    .container
        h2.main-title Наша команда

    .team-slider-wrap
        .container
            .team-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .team-slider__item
                            .team-slider__img
                                img(src="img/photo-1.jpg")
                                .team-slider__status Свободен

                            .team-slider__name Дмитрий Краснощёк

                            .team-slider__article Адвокат. Общий стаж практики в банкротстве 11 лет

                            button(type="submit").btn Бесплатная консультация

                    .swiper-slide
                        .team-slider__item
                            .team-slider__img
                                img(src="img/photo-2.jpg")
                                .team-slider__status Свободен

                            .team-slider__name Олег Нахимов

                            .team-slider__article Руководитель юридического департамента. Cпециализация «арбитраж», «экономические споры»

                            button(type="submit").btn Бесплатная консультация

                    .swiper-slide
                        .team-slider__item
                            .team-slider__img
                                img(src="img/photo-3.jpg")
                                .team-slider__status Свободен

                            .team-slider__name Елена Березина

                            .team-slider__article Юрист, специализация<br> «арбитраж»

                            button(type="submit").btn Бесплатная консультация
                .swiper-pagination

            .swiper-button-next.swiper-button-next-ts
            .swiper-button-prev.swiper-button-prev-ts

.price-banner
    .price-banner__content
        .main-logo.main-logo_w
            .main-logo__img
                img(src="img/logo-w.png")
            ul.main-logo__article
                li
                    |Ликвидатор №1
                li
                    |банкротство ликвидация ООО

        .price-banner__title Стоимость услуг по ликвидации, банкротству

        .price-banner__article Услуги и цены на наши основные услуги

.price-table-wrap
    ul.price-table.container
        li.price-table__column
            form.form(action="#" method="POST")

                .form__title Онлайн заявка

                .inp-title Введите имя 
                input(type="text" placeholder="Имя").inp

                .inp-title Телефон
                input(type="text" placeholder="+7 ___ ___-__-__").inp.phone-inp

                .inp-title Выберите вид услуги
                .select-loan
                    select
                        option Ликвидация ООО
                        option Тест 2
                        option Тест 3

                button(type="submit").btn.form__btn Отправить заявку

                input(type="checkbox")#check.check
                label(for="check").check-label
                    |Я принимаю 
                    a(href="#") условия передачи информации

        li.price-table__column
            ul.price-table__top
                li Наименование услуги
                li Срок исполнения
                li Цена
                li Онлайн запись

            ul.price-table__list
                li
                    .price-table__item
                        .price-table__article Добровольная ликвидация - по решению учредителей
                    .price-table__item
                        .price-table__mob-title Сроки исполнения
                        .price-table__time 5 - 6 месяцев
                    .price-table__item
                        .price-table__mob-title Цена
                        .price-table__price от 38 000 руб.
                    .price-table__item
                        .price-table__check
                li
                    .price-table__item
                        .price-table__article Ликвидация через смену директора и участника
                    .price-table__item
                        .price-table__mob-title Сроки исполнения
                        .price-table__time 5 - 6 месяцев
                    .price-table__item
                        .price-table__mob-title Цена
                        .price-table__price от 38 000 руб.
                    .price-table__item
                        .price-table__check

                li
                    .price-table__item
                        .price-table__article Принудительная ликвидация - по решению суда
                    .price-table__item
                        .price-table__mob-title Сроки исполнения
                        .price-table__time 5 - 6 месяцев
                    .price-table__item
                        .price-table__mob-title Цена
                        .price-table__price от 25 000 руб.
                    .price-table__item
                        .price-table__check

                li
                    .price-table__item
                        .price-table__article Добровольная ликвидация с гарантией отсутствия выездной налоговой проверки
                    .price-table__item
                        .price-table__mob-title Сроки исполнения
                        .price-table__time 5 - 6 месяцев
                    .price-table__item
                        .price-table__mob-title Цена
                        .price-table__price от 300 000 руб.
                    .price-table__item
                        .price-table__check

                li
                    .price-table__item
                        .price-table__article Банкротство ООО
                    .price-table__item
                        .price-table__mob-title Сроки исполнения
                        .price-table__time 5 - 6 месяцев
                    .price-table__item
                        .price-table__mob-title Цена
                        .price-table__price от 25 000 руб.
                    .price-table__item
                        .price-table__check
