.banner-wrap
    .container
        .banner-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .banner-slider__item
                        .column
                            .banner-slider__title Официальная ликвидация ООО - наша специализация!

                            .min-logo.min-logo_banner
                                .min-logo__img
                                    img(src="img/logo-min.png")
                                .min-logo__article Ликвидируем ООО с 2010 года

                            .banner-slider__article Ликвидация ООО с 2010 года. Быстро, законно и без последствий.

                            ul.cont-list
                                li Гарантия безопасности директора и главбуха
                                li Мы профильно занимаемся банкротством

                            button(type="submit").banner-btn Рассчитать стоимость ликвидации

                        .column
                            .doc-img
                                img(src="img/doc.jpg")

                            .happy-man
                                img(src="img/happy-man.png")
                .swiper-slide
                    .banner-slider__item
                        .column
                            .banner-slider__title Официальная ликвидация ООО - наша специализация!

                            .min-logo.min-logo_banner
                                .min-logo__img
                                    img(src="img/logo-min.png")
                                .min-logo__article Ликвидируем ООО с 2010 года

                            .banner-slider__article Ликвидация ООО с 2010 года. Быстро, законно и без последствий.

                            ul.cont-list
                                li Гарантия безопасности директора и главбуха
                                li Мы профильно занимаемся банкротством

                            button(type="submit").banner-btn Рассчитать стоимость ликвидации

                        .column
                            .doc-img
                                img(src="img/doc.jpg")

                            .happy-man
                                img(src="img/happy-man.png")

                .swiper-slide
                    .banner-slider__item
                        .column
                            .banner-slider__title Официальная ликвидация ООО - наша специализация!

                            .min-logo.min-logo_banner
                                .min-logo__img
                                    img(src="img/logo-min.png")
                                .min-logo__article Ликвидируем ООО с 2010 года

                            .banner-slider__article Ликвидация ООО с 2010 года. Быстро, законно и без последствий.

                            ul.cont-list
                                li Гарантия безопасности директора и главбуха
                                li Мы профильно занимаемся банкротством

                            button(type="submit").banner-btn Рассчитать стоимость ликвидации

                        .column
                            .doc-img
                                img(src="img/doc.jpg")

                            .happy-man
                                img(src="img/happy-man.png")

            .swiper-pagination

    .swiper-button-next.swiper-button-next-bs
    .swiper-button-prev.swiper-button-prev-bs

.about-us
    .container
        h1.main-title Официальная ликвидация ООО в Москве и области

        .cont-doc
            img(src="img/doc.jpg")

        .content
            p 
                |Ликвидация общества с ограниченной ответственностью может быть проведена альтернативным способом путем присоединения ООО к другому ООО или слияния ООО с другим ООО. Ликвидация ООО путем присоединения представляет собой процедуру реорганизации общества, в результате которой присоединяемое общество ликвидируется и прекращает свою хозяйственную деятельность, а другое общество становится правопреемником ликвидированного общества.

    .about-slider-wrap
        .about-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .about-slider__item
                        ul.about-slider__columns
                            li
                                .about-slider__img
                                    img(src="img/price-img-1.jpg")
                            li
                                .about-slider__article 
                                    |Для фирм с небольшими оборотами или не ведущих деятельность.

                                .about-slider__price 
                                    |от 38 000 руб

                                .about-slider__sub-title Сроки процедуры:

                                .about-slider__time
                                    |5 - 6 месяцев

                        button(type="button").btn.about-slider__btn Рассчитать стоимость ликвидации

                .swiper-slide
                    .about-slider__item
                        ul.about-slider__columns
                            li
                                .about-slider__img
                                    img(src="img/price-img-2.jpg")
                            li
                                .about-slider__article 
                                    |Без налоговой проверки. Для фирм с оборотами без долгов.

                                .about-slider__price 
                                    |от 250 000 руб

                                .about-slider__sub-title Сроки процедуры:

                                .about-slider__time
                                    |5 - 6 месяцев

                        button(type="button").btn.about-slider__btn Рассчитать стоимость ликвидации

                .swiper-slide
                    .about-slider__item
                        ul.about-slider__columns
                            li
                                .about-slider__img
                                    img(src="img/price-img-3.jpg")
                            li
                                .about-slider__article 
                                    |Путем смены директора и учредителей. Для фирм с небольшими оборотами.

                                .about-slider__price 
                                    |от 38 000 руб

                                .about-slider__sub-title Сроки процедуры:

                                .about-slider__time
                                    |1 - 2 месяца

                        button(type="button").btn.about-slider__btn Рассчитать стоимость ликвидации

            .swiper-pagination
        .swiper-button-next.swiper-button-next-as
        .swiper-button-prev.swiper-button-prev-as