.banner-wrap
    .container
        .banner-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .banner-slider__item
                        .column
                            .banner-slider__title Официальная ликвидация ООО - наша специализация!

                            .min-logo.min-logo_banner
                                .min-logo__img
                                    img(src="img/logo-min.png")
                                .min-logo__article Ликвидируем ООО с 2010 года

                            .banner-slider__article Ликвидация ООО с 2010 года. Быстро, законно и без последствий.

                            ul.cont-list
                                li Гарантия безопасности директора и главбуха
                                li Мы профильно занимаемся банкротством

                            button(type="submit").banner-btn Рассчитать стоимость ликвидации

                        .column
                            .doc-img
                                img(src="img/doc.jpg")

                            .happy-man
                                img(src="img/happy-man.png")
                .swiper-slide
                    .banner-slider__item
                        .column
                            .banner-slider__title Официальная ликвидация ООО - наша специализация!

                            .min-logo.min-logo_banner
                                .min-logo__img
                                    img(src="img/logo-min.png")
                                .min-logo__article Ликвидируем ООО с 2010 года

                            .banner-slider__article Ликвидация ООО с 2010 года. Быстро, законно и без последствий.

                            ul.cont-list
                                li Гарантия безопасности директора и главбуха
                                li Мы профильно занимаемся банкротством

                            button(type="submit").banner-btn Рассчитать стоимость ликвидации

                        .column
                            .doc-img
                                img(src="img/doc.jpg")

                            .happy-man
                                img(src="img/happy-man.png")

                .swiper-slide
                    .banner-slider__item
                        .column
                            .banner-slider__title Официальная ликвидация ООО - наша специализация!

                            .min-logo.min-logo_banner
                                .min-logo__img
                                    img(src="img/logo-min.png")
                                .min-logo__article Ликвидируем ООО с 2010 года

                            .banner-slider__article Ликвидация ООО с 2010 года. Быстро, законно и без последствий.

                            ul.cont-list
                                li Гарантия безопасности директора и главбуха
                                li Мы профильно занимаемся банкротством

                            button(type="submit").banner-btn Рассчитать стоимость ликвидации

                        .column
                            .doc-img
                                img(src="img/doc.jpg")

                            .happy-man
                                img(src="img/happy-man.png")
            .swiper-pagination

    .swiper-button-next.swiper-button-next-bs
    .swiper-button-prev.swiper-button-prev-bs
