.header
    .header__top
        .container
            .column
                .main-logo
                    .main-logo__img
                        img(src="img/main-logo.png")
                    ul.main-logo__article
                        li
                            |Ликвидатор №1
                        li
                            |банкротство ликвидация ООО
            .column
                ul.top-nav
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Наша команда
                    li
                        a(href="#") Вопросы и ответы
                    li
                        a(href="#") Контакты

                ul.header__item
                    li
                        .min-logo
                            .min-logo__img
                                img(src="img/logo-min.png")
                            .min-logo__article Ликвидируем ООО с 2010 года
                    li
                        button(type="submit").btn.header__btn Отправить заявку
                    li
                        ul.links-list
                            li
                                a(href="#") Услуги
                            li
                                a(href="#") Цены
                            li
                                a(href="#") Субсидарка

            .column
                ul.about-info
                    li
                        a(href="tel:74991120757").phone-link +7 (499) 112-07-57
                    li
                        .worktime с 9-00 до 20-00, по будням
                    li
                        .adress-metro Деловой центр, Выставочная,<br> Международная, МЦК

    .header__bottom
        .container
            ul.main-nav
                li
                    a(href="#").main-nav__likv Ликвидация ООО
                    ul.main-nav__dropdown
                        li
                            a(href="#") через оффшор
                        li
                            a(href="#") без налоговой проверки
                        li
                            a(href="#") с единственным участником
                        li
                            a(href="#") с нулевым балансом
                        li
                            a(href="#") с дебиторской задолжностью
                li
                    a(href="#").main-nav__ip Ликвидация ИП
                    ul.main-nav__dropdown
                        li
                            a(href="#") через оффшор
                        li
                            a(href="#") без налоговой проверки
                        li
                            a(href="#") с единственным участником
                        li
                            a(href="#") с нулевым балансом
                        li
                            a(href="#") с дебиторской задолжностью
                li
                    a(href="#").main-nav__fl Банкротство физического лица
                    ul.main-nav__dropdown
                        li
                            a(href="#") через оффшор
                        li
                            a(href="#") без налоговой проверки
                        li
                            a(href="#") с единственным участником
                        li
                            a(href="#") с нулевым балансом
                        li
                            a(href="#") с дебиторской задолжностью


